.creatorProfilePage {
    .personalDetails {
        border: 2px dotted #FFA005;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .name {
            h2 {
                font-weight: bolder;
                color: #FFA005;
            }

            span {
                font-size: 14px;
                color: gray;
            }
        }

        .imageSection {
            width: 130px;
            height: 130px;
            border: 2px solid #FFA005;
            border-radius: 100%;


            .creatorImage {
                width: 100%;
                height: 100%;
                background-size: cover;
                object-fit: contain;
                border-radius: 100%;
            }
        }
    }

    .creatorspage-subheader {
        text-align: center;
        font-weight: bolder;
        border: 2px dotted #FFA005;
        margin: 10px 0px;
    }

    .activeGiveaways {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .previousGiveaways {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .reviewsSlider {
        .swiper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                height: 300px;
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 20px;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swiper-button-next:after {
                color: #FFA005;
            }

            .swiper-button-prev:after {
                color: #FFA005;
            }
        }
    }
}