.subscriptions-container {
    h2 {
        font-weight: bolder;
        margin-top: 5%;

        span {
            background-color: #FFA005;
            padding: 1px 20px;
            border-radius: 30px;
            font-size: 3rem;
        }
    }

    .subscriptions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}